<br><br><br>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Latest Posts</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                {{#each Item}}
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        {{!-- this is needed because of image binary --}}
                        <img style="height: 250px; width: 100%;" src="data:image/jpeg;base64, {{this.itemImage}}" alt="...">
                        <div class="caption">
                            <h3>{{this.itemName}}</h3>
                            <p>{{this.itemDescription}}</p>
                            <p>Per Day: {{this.itemPrice}}</p>
                            <a href="/iteminfo1/{{this.id}}" class="btn btn-primary" role="button">View Listing</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>