<link rel="stylesheet" href="/WidgetCal/jqwidgets/styles/jqx.base.css" type="text/css" /> 
<script type="text/javascript" src="/WidgetCal/scripts/demos.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/globalization/globalize.js"></script>

<div id="contact" class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{this.itemName}}</h3>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <img style="height: 385px;" id="itemInfoImg" src="{{this.itemURL}}" alt="Item Image"> </div>
                        <div class="col-sm-6">

                            <div class=" well well-sm">
                                <div id="map" style="height: 370px;"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Description</h3>
                                        <p>{{this.itemDescription}}</p>
                                        <h4>
                                            <b>Item ID: {{this.itemId}}</b>
                                        </h4>
                                        <h4>
                                            <b>For Rent:</b> {{this.itemName}}.</h4>
                                        <h4>
                                            <b>Price:</b>(Per Day) ${{this.itemPrice}}.</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>Contact Person</h3>
                                        <h4>
                                            <b>Name:</b> {{this.name}}.</h4>
                                        <h4 id="address">
                                            <b>Address:</b>
                                            <span id="gAddress"> {{this.streetAddress}}, {{this.city}}, {{this.state}}, {{this.zipcode}}.</span>
                                        </h4>
                                        <h4>
                                            <b>Email:</b> {{this.email}}. </h4>
                                        <h4 style="display: none;">Rented Dates:
                                            <span id="rented"> {{this.rentedDates}}.</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button style="background-color: #f19f4d; color: white" class="btn btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                            Check Availability
                                        </button>
                                        <div class="collapse" id="collapseExample">
                                            <br>
                                            <div class="card card-body">
                                                <div id='calendar'></div>
                                                <br>
                                                <form method="post" action="">
                                                    <div name="rentedDate" id="rentedDates"></div>
                                                    <input id="idvalue" style="display: none" name="rentItemId" value="{{this.itemId}}">
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                </div>
            </div>
        </div>
    </div>

    <script> 
        var idvalue = $("#idvalue").val();
        function inititeminfo() {
            getUserMap();
            calendar();
            var rentDates = [];
            var rentDate;
            var rentedDates = $("#rentedDates");
            $('#calendar').on('change viewChange', function (event) {
                var date = event.args.date;
                rentDate = convertDate(date);
                rentDates.push(convertDate(date));
                rentedDates.empty();
                rentedDates.text(rentDates);
                var r = confirm("Really add " + rentDate + " to rent date?");
                if (r == true) {

                    var rentedObj = {
                        rentedDate: rentDate,
                        rentItemId: idvalue
                    };

                    $.ajax("/iteminfo1/:id", {
                        type: "POST",
                        data: rentedObj
                    })

                    if (!alert('Date added!')) { window.location.reload(); }
                }
                else {
                    alert("Date not added.")
                }
                var rentedObj = { rentDates };

                $.ajax("/iteminfo1", {
                    type: "POST",
                    data: rentedObj
                })
            });
        };
        function convertDate(inputDate) {
        
            var dd = inputDate.getDate();
            var mm = inputDate.getMonth() + 1; //January is 0!
            var yyyy = inputDate.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            };

            if (mm < 10) {
                mm = '0' + mm
            };

            var output = yyyy + "-" + mm + "-" + dd;
            console.log(output);
            return (output);
        };

        var getUserMap = function () {
            console.log(" in script");
            var userAdd = $('#gAddress').text();
            console.log(" \n\n in iteminfo before \n\n ", userAdd);
            g_geoCode(userAdd, ourMap);
            console.log(" in iteminfo afetr");
        }

        var calendar = function () {
            //grab string from html that contains the dates,
            // create an array - then convert to dates.
            var restrictedDates = $('#rented').text().trim().split(',');
            //convert into array of date, need to 
            //add 24 hours-  too long of story why
            for (let i = 0; i < restrictedDates.length ; i++) {
              restrictedDates[i] = new Date(restrictedDates[i]);
              if ( i !== restrictedDates.length - 1) {
              restrictedDates[i].setHours(25);}
          }

            console.log(restrictedDates);

            $("#calendar").jqxCalendar({
                theme: 'energyblue',
                width: '200px',
                height: '200px',
                restrictedDates: restrictedDates
            });
        };


    </script>

    <h2 class="text-center">What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
           <div class="item active">
                <h4>"This website is the best. I am so happy with the result!"
                    <br>
                    <span>Definitely recommend to anyone and everyone!</span>
                </h4>
            </div>
            <div class="item">
                <h4>"One word... WOW!!"
                    <br>
                    <span>Built by amazing people to serve the community!</span>
                </h4>
            </div>
            <div class="item">
                <h4>"Could I... BE any more happy with this website?"
                    <br>
                    <span>It is never been this easy to rent or rent out stuff. Definitely best website in the business.</span>
                </h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>