<link rel="stylesheet" href="/WidgetCal/jqwidgets/styles/jqx.base.css" type="text/css" /> {{!--
<script type="text/javascript" src="/WidgetCal/scripts/jquery-1.12.4.min.js"></script> --}}
<script type="text/javascript" src="/WidgetCal/scripts/demos.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/jqxtooltip.js"></script>
<script type="text/javascript" src="/WidgetCal/jqwidgets/globalization/globalize.js"></script>

<div class="container-fluid">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{this.itemName}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <br>
                    <div class="thumbnail">
                        <img style="height: 370px;" id="itemInfoImg" src="data:image/jpeg;base64, {{this.itemImage}}" alt="...">
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Description</h3>
                            <p>{{this.itemDescription}}</p>
                            <h4>
                                <b>Item ID: {{this.itemId}}</b>
                            </h4>
                            <h4>
                                <b>For Rent:</b> {{this.itemName}}.</h4>
                            <h4>
                                <b>Price:</b>(Per Day) ${{this.itemPrice}}.</h4>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-8">
                            <h3>Contact Person</h3>
                            <h4>
                                <b>Name:</b> {{this.name}}.</h4>
                            <h4 id="address">
                                <b>Address:</b>
                                <span id="gAddress"> {{this.streetAddress}}, {{this.city}}, {{this.state}}, {{this.zipcode}}.</span>
                            </h4>
                            <h4>
                                <b>Email:</b> {{this.email}}. </h4>
                            <h4 style="display: none;">Rented Dates:
                                <span id="rented"> {{this.rentedDates}}.</span>
                            </h4>
                            <hr> {{!--
                            <a href="#">
                                <button type="button" class="btn btn-primary dropdown-toggle">Rent It</button>
                            </a> --}}

                        </div>
                        <br>
                        <div class="col-xs-4">
                            {{!--
                            <div id='calendar'></div> --}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <br>
                    <div class=" well well-sm">
                        <div id="map" style="height: 370px;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        Check Availability
                    </button>
                    <div class="collapse" id="collapseExample">
                        <br>
                        <div class="card card-body">
                            <div id='calendar'></div>
                            <br>

                            <form method="post" action="">
                                <div  name="rentedDate" id="rentedDates"></div>
                                <input style = "display: none" name="rentItemId" value="{{this.itemId}}" >
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script> 
    console.log("top of script before anything ");
    function inititeminfo() {
        getUserMap();
        calendar();
        var rentDates = [];
        var rentedDates = $("#rentedDates");
        $('#calendar').on('change viewChange', function (event) {
            var date = event.args.date;
            // var view = event.args.view;
            // var viewFrom = view.from;
            // var viewTo = view.to;         
            rentDates.push(convertDate(date));
            //rentedDates.empty();
            //rentedDates.text(rentDates);

           var rentedObj = {rentDates};

           $.ajax("/iteminfo1", {
               type: "POST",
               data: rentedObj
           })
        });
    };
    function convertDate(inputDate) {
        //var d = new Date (inputDate)
        //console.log( "datee: ", d);
        var dd = inputDate.getDate();
        var mm = inputDate.getMonth() + 1; //January is 0!
        var yyyy = inputDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        };

        if (mm < 10) {
            mm = '0' + mm
        };

        var output = yyyy + "-" + mm + "-" + dd;
        console.log(output);
        return (output);
    };

    var getUserMap = function () {
        console.log(" in script");
        var userAdd = $('#gAddress').text();
        console.log(" \n\n in iteminfo before \n\n ", userAdd);
        g_geoCode(userAdd, ourMap);
        console.log(" in iteminfo afetr");
    }

    var calendar = function () {
        //grab string from html that contains the dates,
        // create an array - then convert to dates.
        var restrictedDates = $('#rented').text().trim().split(',');
        //convert into array of date, need to 
        //add 24 hours-  too long of story why
        for (let i = 0; i < restrictedDates.length; i++) {
            restrictedDates[i] = new Date(restrictedDates[i]);
            restrictedDates[i].setHours(25);
        }

        console.log(restrictedDates);

        $("#calendar").jqxCalendar({
            theme: 'energyblue',
            width: '200px',
            height: '200px',
            restrictedDates: restrictedDates
        });
    };


</script>