<h1>Create a new listing.</h1>
{{this.id}}
<form data-id="{{this.id}}" class="create-update-form" method="POST">

  <div class="form-group">
    <label for="auth">Category: </label>
    <input type="text" id="category" name="category" value="{{this.itemCatId}}">
  </div>
  <div class="form-group">
    <label for="itemname">item: </label>
    <textarea id="itemName" name="itemname" rows="1" cols="40">{{this.itemName}}</textarea>
  </div>
  <div class="form-group">
    <label for="itemdescription">Description: </label>
    <textarea id="descr" name="itemdescription" rows="8" cols="40">{{this.itemDescription}}</textarea>
  </div>
    <div class="form-group">
    <label for="itemprice">Price: </label>
    <textarea id="price" name="itemprice" rows="1" cols="40">{{this.itemPrice}}</textarea>
  </div>

  <button type="submit">Post Listing</button>
</form>